/* resumoPresencas.css */

titulo-resumo {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: #1B4BD2; /* Azul da paleta */
}

.filtros-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.grafico-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

@media (max-width: 600px) {
  .grafico-container {
    height: 260px;
    margin: auto;
  }
  .filtros-container {
    flex-direction: column;
    align-items: center;
  }
}

canvas {
  max-width: 320px;
  max-height: 320px;
  transition: all 0.3s ease-in-out;
}
