.container-notFound {
  height: calc(100vh - 59px - 69px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-notFound img {
  margin-top: 2rem;
  width: 150px;
}

.img-g img {
  width: 200px;
}

.btn {
  cursor: pointer;
}
